
:root {
	 --primary-color: #495a86;
	 --header-color: #495a86;
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.grid-cols-2 {
	max-width: 1400px;
	margin: 25px auto;
	display: flex;
	justify-content: center;
	gap: 40px;

	@media (max-width: 720px) {
		flex-direction: column;
		gap: 20px;
		margin: 20px;
	}
}
