header {
    position: relative;
    margin: 0;
    padding: 5px 1.8em;
    color: #fff;
    box-shadow: 1px 2px 4px #070707;
    background: linear-gradient(5deg, transparent 0%, #0e3d58 100%);
    position: sticky;
    top: 0;
    z-index: 100;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        /* top:0; right:0; bottom:0; left:0 */
        pointer-events: none;
        background:
            linear-gradient(90deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 18%),
            linear-gradient(-90deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 18%);
        /* tweak the 18% to widen/narrow the transparent center */
        mix-blend-mode: normal;        
    }

    .main-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .hamburger {
            display: none;
        }

        .logo {
            z-index: 10;
            a {
                display: block;

                img {
                    object-fit: cover;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                    width: 250px;
                    height: auto;
                    border-radius: 10px;
                }
            }
        }

        &>* {
            min-width: 150px;
            place-content: center;
        }

        a {
            padding: 0.2em .5em;
            border-bottom: 2px solid transparent;
            text-decoration: none;
            font-size: 1.5em;
            color: #fff;
            z-index: 10;
            position: relative;

            &.active {
                text-decoration: none;
                border-bottom-color: var(--accent);
            }

            &:hover {
                font-weight: bold;
            }
        }
    }

    @media (max-width: 720px) {
        padding: 0px 1em;

        .main-header {

            .hamburger {
                display: flex;
                flex-direction: column;
                gap: 5px;
                cursor: pointer;
                padding: 5px;
                margin-block: 15px;
                min-width: unset;
                z-index: 1001;

                span {
                    display: block;
                    width: 30px;
                    height: 3px;
                    background-color: #fff;
                    border-radius: 2px;
                    pointer-events: none;
                    margin: 1px 0;
                }

                &.active {
                    outline: 2px solid hsla(var(--font-dark), 1);
                    border-radius: 5px;

                    span:first-child {
                        rotate: 45deg;
                        position: relative;
                        top: 10px;
                    }

                    span:nth-child(2) {
                        opacity: 0;
                    }

                    span:last-child {
                        rotate: -45deg;
                        position: relative;
                        top: -10px;
                    }
                }
            }

            .logo {
                position: absolute;
                right: 5px;

                a {
                    img {
                        width: 200px;
                    }
                }
            }

            .menu {
                display: none;
                position: absolute;
                top: -100px;
                left: 0;
                opacity: 1;
                padding-block: 1em;
                border-bottom-right-radius: 10px;

                &.active {
                    display: flex;
                    animation: slide-in 0.5s ease forwards;
                    flex-direction: column;
                    padding: 5px 10px 25px 15px;
                    gap: 1em;                    
                    background: linear-gradient(-75deg, transparent 40%, #0e3d58 70%);
                    z-index: 1000;

                    &::before {
        content: "";
        position: absolute;
        inset: 0;
        /* top:0; right:0; bottom:0; left:0 */
        pointer-events: none;
        background:
            linear-gradient(90deg, rgba(0, 0, 0, 0.90) 0%, rgba(0, 0, 0, 0) 70%),
            linear-gradient(-90deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 50%);
        /* tweak the 18% to widen/narrow the transparent center */
        mix-blend-mode: normal;
        z-index: 1;
    }
                }

                a {
                    box-shadow: 0 4px 2px -2px #fff;
                    width: 85%;
                    font-size: 1em;

                    &.active {
                        border-bottom-color: transparent;
                    }
                }
            }
        }
    }
}

@keyframes slide-in {
    from {
        top: 0;
        opactity: 0;
    }

    to {
        top: 65px;
        opacity: 1;
    }
}