.hero-area {
    position: relative;
    margin-top: 40px;
    /* linear gradient background */
    background: linear-gradient(5deg, transparent 0%, #165274 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: white;
    text-align: center;    
    box-shadow: 0px 15px 15px 15px rgba(0, 0, 0, 0.4);

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        /* top:0; right:0; bottom:0; left:0 */
        pointer-events: none;
        background:
            linear-gradient(90deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 18%),
            linear-gradient(-90deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 18%);
        /* tweak the 18% to widen/narrow the transparent center */
        mix-blend-mode: normal;
        z-index: 1;
    }

    .hero-content {
        position: relative;
        z-index: 2;
        max-width: 1300px;
        /* content width */
        padding: 2rem;
        text-align: center;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .description {
        font-size: 1.5rem;
        line-height: 1.2;
        margin: 0;

        p {
            margin: 20px 30px;
        }
    }

    @media (max-width: 720px) {
        margin-top: 20px;
        
        h1 {
            font-size: 2.5rem;
        }

        .description {
            font-size: 1.3rem;

            p {
                margin: 15px 20px;
            }
        }
    }
}