.list-section {
    margin: 30px auto;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;


    .title {
        text-align: center;
        font-size: 3.5em;
        color: #fff;
        margin-bottom: 1em;
        text-transform: capitalize;
    }

    .list-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
        font-size: 1.5em;
        color: #fff;
        max-width: 2000px;

        .list-item {
            display: flex;
            flex-direction: column;
            width: 15%;
            min-width: 250px;
            height: auto;
            min-height: 100px;
            background: rgba(0, 0, 0, 0.70);
            /* add a box shadow */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
            padding: 20px 25px;
            border-radius: 1px;
            place-content: center;
            text-align: center;

            &:hover {
                background: rgba(0, 0, 0, 0.85);
                box-shadow: 0 6px 8px rgba(0, 0, 0, 0.7);
                transform: translateY(-10px);
                transition: all 0.5s ease-in-out;
            }

            .list-icon {
                font-size: 1.5em;
                margin-bottom: 10px;
            }

            .list-text {
                font-size: 1em;
            }

            ul {
                font-size: 1rem;
                margin: 10px 10px 0 30px;

                li {
                    text-align: left;
                    line-height: 1.3em;
                }
            }

            .more-button {
                font-size: 1rem;
                color: gray;
                background: transparent;
                border: none;
                border-radius: 3px;
                box-shadow: 1px 1px 0 2px rgba(255, 255, 255, 0.08);
                padding: 5px 10px;
                margin-top: 20px;
                cursor: pointer;
                place-self: end;
            }
        }
    }

    @media (max-width: 720px) {

        margin: 0px auto;

        .title {
            font-size: 2.5em;
            margin: .6em 0;
        }

        .list-items {
            gap: 15px;

            .list-item {
                width: 80%;
                min-height: 125px;

                .list-icon {
                    font-size: 1.3em;
                }

                .list-text {
                    font-size: .9em;
                }

                ul {
                    margin-left: 60px;
                }
            }
        }
    }
}