---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="About - Honey-Do Heroes">
  <Hero title="About Honey-Do Heroes">
    <p>
      We are a local team of parents and neighbors on Long Island, here to help
      with the jobs that make your home easier to live in. Big contractors often
      skip the smaller projects, but those are exactly the ones we enjoy taking
      care of. From drywall and painting to smart devices and Wi Fi, we make the
      little things feel simple again.
    </p>
    <p>
      We blend traditional handyman skills with practical tech knowledge, so you
      do not have to call multiple people for one project. Whether you need help
      connecting a new device, programming a smart thermostat, setting up Wi Fi,
      or putting together that new piece of furniture with a million parts, we
      are happy to jump in.
    </p>
    <p>
      And if there is a new gadget or system you want but are not sure what to
      buy or how it works, we can help with the research and guide you through
      the best options for your home. It is part handyman, part tech consultant,
      and entirely focused on making things easier for you.
    </p>
    <p>
      If you do not see your project listed, just reach out. There is a good
      chance we can handle it and get it checked off your list.
    </p>
  </Hero>
</Layout>
