---
import Layout from "../layouts/Layout.astro";
import List from "../components/List.astro";
import Hero from "../components/Hero.astro";

import { allServices } from "../data/services.js";
---

<Layout title="Home - Honey-Do Heroes">
  <Hero title="Who we are...">
    <p>
      Friendly tech help for your home. Whether you need a device connected, a
      smart system set up, a tough problem solved, or even that new piece of
      furniture assembled, we make it easy. If it’s unfamiliar technology, we
      can research the best options and guide you through every step.
    </p>
  </Hero>
  <List title="Featured Services" list={allServices} />
</Layout>
