---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import List from "../components/List.astro";

import { allServices } from "../data/services.js";

const fixesList = [
  "Drywall repair",
  "Painting & touch-ups",
  "Doors, locks, and trim",
  "Small renovations",
];

const houseMaintenanceList = [
  "Power washing",
  "Gutter cleaning",
  "Basic landscaping",
  "Furniture assembly",
];

const techList = [
  "TV & entertainment center setup",
  "Wi-Fi optimization & mesh installation",
  "Smart thermostats, plugs, lights",
  "Video doorbells & cameras",
];

const groupBy = (list, key) => {
  return list.reduce((groups, item) => {
    const value = item[key];
    (groups[value] ||= []).push(item);
    return groups;
  }, {});
};

const groupedServices = groupBy(allServices, "type");
---

<Layout title="Services - Honey-Do Heroes">
  <Hero title="Our Services">
    <p>
      At Honey-Do Heroes, we handle a wide range of household projects, from
      everyday fixes to smart home upgrades. The list below covers many of our
      most common services, but it’s far from everything we offer.
    </p>
    <p>
      If you don’t see what you need, no problem. Give us a call or send us an
      email, and we’ll let you know how we can help.
    </p>
  </Hero>

  {
    Object.keys(groupedServices).map((item) => {
      return (
        <List title={"Service Type: " + item} list={groupedServices[item]} />
      );
    })
  }
</Layout>
