---
import '../styles/header.css';
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="site-header">
  <nav class="main-header" role="navigation">
    <div class="hamburger" aria-label="Open Menu" tabindex="0">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <h2 class="logo"><a href="/">{SITE_TITLE}</a></h2>
    <nav class="internal-links menu" role="navigation">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/services">Services</HeaderLink>
      <HeaderLink href="/contact">Contact</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </nav>
  </nav>
</header>
<script>
  const hamburger = document.querySelector(".hamburger");
  const menu = document.querySelector(".menu");

  hamburger?.addEventListener("click", () => {
    menu?.classList.toggle("active");
    hamburger.classList.toggle("active");
  });

  hamburger?.addEventListener("keydown", (e) => {
    if (e.key === "Enter" || e.key === " ") {
      menu?.classList.toggle("active");
      hamburger.classList.toggle("active");
    }
  });
</script>

