---
import "../styles/hero.css";
const { title = "Turning honey-do into honey-done" } = Astro.props;
---

<div class="hero-area">
  <div class="hero-content">
    <h1>
      {title}
    </h1>
    <div class="description">
      <slot />
    </div>
  </div>
</div>
