---
import "../styles/global.css";
const { title } = Astro.props;

import HDHImage from "../images/HDH_Image.png";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const pageBgStyle = `url(${HDHImage.src})`;

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="src/images/favicon.png" />
    <title>{title}</title>    
  </head>
  <body>
    <style define:vars={{ pageBgStyle }}>
      body {
        background-image: var(--pageBgStyle);
        background-size: cover;
        background-position: center -100px;
        background-repeat: no-repeat;
        backdrop-filter: saturate(30%) contrast(50%) brightness(60%);
        padding-top: 5px;

        @media (max-width: 720px) {
          background-size: contain;
          background-position: center 50px;
          background-repeat: repeat-y;
        }
      }
    </style>
    <Header />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
